/********** Custome CSS **********/
:root {
    --primary: #3A9947;
    --light: #F1F8FF;
    --dark: #0F172B;
}

*{
    box-sizing: border-box;
}

.ff-secondary {
    font-family: 'Pacifico', cursive;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

html{
    height: 100%;
}

body{
    min-height:100%;
    display: flex;
    flex-direction: column;
}

/*** Logo ***/
.footer{
    background-color: #0F172B !important;
}
.about .bg-dark {
    background: #0F172B !important;
}
.logo .img{
    width:45px;
    height:45px;

}
.logo h1{
    margin: 0;
    padding: 0;
}
.logo h1 a{
    margin:0;
    padding:0;
}
.petuk
{
    font-size:20px;
    margin-left:5px;
    color:#FFFF;
}
.ji{
    font-size:20px;
    color:#3A9947;
}

/*** Navbar Toggle ***/
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #0a0a0a;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #000000;
}

#navbarCollapse{
    transition: height 1s ease-in-out;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.nav-link:hover{
    color: #3A9947 !important;
}

.nav-link {
    position: relative;
    /* margin-left: 25px; */
    /* color: var(--light) !important; */
    text-transform: uppercase;
    transition: all 200ms ease-in 0s;
    text-decoration: none;
    display: inline-block;
    margin: 0px 2vw;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    padding-bottom: 10.5px;
    margin-top:6px;
    transition: .5s;
}

.nav-link::after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 0%;
    content: "";
    color: transparent;
    background:#3A9947;
    height: 4px;
    border-radius: 12px;
    transition: all 0.4s ease-in 0s;
}
.nav-link:hover::after{
    width: 100%;
    transition: width .4s;
 }


.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    transition: padding 0.8s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
    max-height: 45px;
}


@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        /* border-top: 1px solid rgba(255, 255, 255, .1) */
    }

    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-dark .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: transparent !important;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: var(--dark) !important;
    }
}